rg.fail
*_autoload*
phpunit.xml.dist
_act*
*.swp
*.swo
*.tmp
._pylon.dat
.gd*
conf/used/
tmp
cscop*
runtime/*
run/*
.rigger.dat
rigger.log
_prj/*tags
.prjide
templates_c/*
node_modules/
bower_components/
dist/
output/
vendor/
.deploy-tmp
tags
sftp-config.json
