<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>Sparta Module</title>
<meta name="renderer" content="webkit">
{% include "view/css-vendor.html" %}
{% include "view/css-module.html" %}
{% include "view/css-app.html" %}
<script>
window.APPCONF = {
	APP_API_URL : "{{ AppConf.appApiUrl }}" ,
	APPKEY : "{{ AppConf.appkey }}",
	TPLROOT : "app/template"
};
</script>
</head>
<body ng-app="app">
<!--[if lte IE 8]><p class="browsehappy">您使用的浏览器版本已经过时，请使用 <a href="http://se.360.cn/">360安全浏览器</a> 获得最佳体验！</p><![endif]-->
<div ng-include="'app/template/index.tpl'"></div>
</body>
{% include "view/js-vendor.html" %}
<!--[if lte IE 8]>
{% include "view/js-lteie8.html" %}
<![endif]-->
{% include "view/js-module.html" %}
{% include "view/js-framework.html" %}
{% include "view/js-app.html" %}
</html>

